:root {
    --primary--color2: #e3f1b6;
    --primary--color3: #ffffff;
    --primary--color4: rgb(250, 173, 31);
    --main--color: #ffba66;
}
.list__product {
    font-size: 20px;
    padding: 30px;
}

.list__product h1{
    text-align: center;
    border-bottom: 5px solid var(--main--color);
}

.list__product summary{
    font-weight: bold;
    font-size: 25px;
}
